:host {
  display: block;
  background: linear-gradient(135deg, #faf6e3, #2a3663);
  color: #2a3663;
  min-height: 100vh;
  padding: 20px;
}

.btn {
  width: 30%;
  height: 45px;
  background-color: #5a84d7;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.titulo-especialistas {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px; /* Espacio arriba del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  color: #2a3663;
}
