.div-container-register {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.div-container-register h2 {
  margin-bottom: 1.5rem;
  color: #003366;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  color: #ffffff;
}

.mat-progress-spinner {
  width: 80px;
  height: 80px;
}
/* FIN DE MODIFICAION DEL SPINNER */

/* INICIO DE MOD DEL BOTON PARA VOLVER Y REGISTRARSE*/
.btn-volver {
  position: relative;
  width: auto; /* Cambiar a auto para ajustar automáticamente el ancho */
  padding: 0 20px; /* Ajustar el padding para darle espacio interno */
  height: 45px;
  background: linear-gradient(#3c58b9, #5a84d7, #3c58b9);
  border: 2px solid #c9daf4;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 0;
}

.btn-registrarse {
  padding: 0.75rem;
  background-color: #003366;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-registrarse:hover::before {
  background-color: #002244;
}

.label-form {
  color: #002244;
  font-size: 20px;
}
